---
import Page from "@layouts/page";
---

<Page title="Contact me">
	<h1>Contact me</h1>
	<p>
		github: https://github.com/rogepi
		掘金: https://juejin.cn/user/3438928104002856
		email: zzr1119@outlook.com
	</p>
</Page>
