---
import Page from "@layouts/page";
---

<Page title="Contact me">
	<h1>Contact me</h1>
	<link></link>
	<p>
		email: zzr1119@outlook.com<br/>
		github: https://github.com/rogepi<br/>
		掘金: https://juejin.cn/user/3438928104002856
	</p>
</Page>
